<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<ul>
  <li><%= link_to "Edit", edit_post_path(@post) %></li>
  <li><%= link_to "Destroy", post_path(@post), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  }%></li>
</ul>

<h2>Add attachments</h2>
<%= form_with model: [ @post, @post.attachments.build ] do |form| %>
<p>
  <%= form.label :file %><br>
  <%= form.file_field :file %>
</p>
<p>
  <%= form.submit %>
</p>
<% end %>